h1 {
	font-family: Kanit;
font-style: normal;
font-weight: normal;
font-size: 70px;
line-height: 24px;
/* or 34% */

display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.9px;

color: #000000;
}